.all-image{
    display: grid;
    grid-template-columns: auto auto auto  ;
    grid-gap: 30px;
    width: 90%;
    margin: auto;
}
.all-image div img{
    height: 400px;
}
@media (max-width:660px) {
    .all-image{
        display: grid;
        grid-template-columns: auto  ;
     
    }
}